.dp {
    border: solid 1px #cccccc;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.dp input {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 4px 4px 8px;
    width: 90px;
}

.dp input:focus {
    outline: none;
}

.dp span {
    border-left: solid 1px #cccccc;
    color: #777777;
    cursor: pointer;
    padding: 0 8px;
}

.dp span:hover {
    color: #333333;
}

.dp-calendar {
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    font-family: sans-serif;
    height: 256px;
    box-shadow: 0 0 6px #888888;
    padding: 15px;
    position: absolute;
    margin-top: 4px;
    width: 224px;
}

.dp-head {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    text-align: center;
}

 .dp-head-hover:hover {
     color: lightblue;
 }

.dp-head:nth-child(1), .dp-head:nth-child(3) { width: 30px; }

.dp-head:nth-child(2) { width: 158px; }

.dp-myd {
    display: inline-block;
    height: 54px;
    margin: 1px;
    text-align: center;
    width: 72px;
}

.dp-my {
    align-items: center;
    align-content: center;
    display: flex;
    height: 54px;
    justify-content: center;
    margin: auto;
    width: 54px;
}

.dp-my:hover {
    background-color: lightblue;
    border-radius: 40px;
    cursor: pointer;
}