<div class="dp">
    <input placeholder="{{placeholder.toUpperCase()}}" value="{{date}}">
    <span class="icon ion-calendar" (click)="show()"></span>
    <day-picker (onView)="onView($event)" (onDate)="onDate($event)" (onMonth)="onMonth($event)" *ngIf="cfg.view == 'days'"></day-picker>
    <month-picker (onView)="onView($event)" (onMonth)="onMonth($event)" (onYear)="onYear($event)" *ngIf="cfg.view == 'months'"></month-picker>
    <year-picker (onView)="onView($event)" (onYear)="onYear($event)" *ngIf="cfg.view == 'years'"></year-picker>
    <decade-picker (onView)="onView($event)" (onDecade)="onDecade($event)" *ngIf="cfg.view == 'decades'"></decade-picker>
</div>