<div class="dp-calendar">
    <div>
        <div class="dp-head dp-head-hover" (click)="setMonth(-1)"><span class="icon ion-arrow-left-b"></span></div><!--
        --><div class="dp-head" (click)="onSetView('months')">{{datePipe.transform(cfg.curDate, 'MMMM, yyyy')}}</div><!--
        --><div class="dp-head dp-head-hover" (click)="setMonth(1)"><span class="icon ion-arrow-right-b"></span></div>
    </div>
    <div class="dp-name-days">
        <div class="dp-day" *ngFor="let name of cfg.weekdays">{{name}}</div>
    </div>
    <div>
        <div class="dp-day"
            [ngClass]="{'dp-day-off': !day.enable, 'dp-day-active': day.enable, 'dp-cur-day': day.cur}"
            (click)="setDay(day.date, day.enable)" *ngFor="let day of days">{{day.date}}</div>
    </div>
</div>