<div class="dp-calendar">
    <div>
        <div class="dp-head dp-head-hover" (click)="setYear(-1)"><span class="icon ion-arrow-left-b"></span></div><!--
        --><div class="dp-head" (click)="onSetView('years')">{{datePipe.transform(cfg.curDate, 'yyyy')}}</div><!--
        --><div class="dp-head dp-head-hover"(click)="setYear(1)"><span class="icon ion-arrow-right-b"></span></div>
    </div>
    <div>
        <div class="dp-myd" (click)="setMonth(i)" *ngFor="let month of cfg.months; let i = index"><div class="dp-my">{{month}}</div></div>
    </div>
</div>