<div class="dp-calendar">
    <div>
        <div class="dp-head" [ngClass]="{'dp-head-hover': cfg.years.prev}" (click)="setDecade(-10)"><span class="icon ion-arrow-left-b"></span></div><!--
        --><div class="dp-head dp-head-hover" (click)="onSetView('decades')">{{cfg.years.items[1].name}}-{{cfg.years.items[11].name}}</div><!--
        --><div class="dp-head" [ngClass]="{'dp-head-hover': cfg.years.next}" (click)="setDecade(10)"><span class="icon ion-arrow-right-b"></span></div>
    </div>
    <div>
        <div class="dp-myd" (click)="setYear(year.name)" *ngFor="let year of cfg.years.items"><div class="dp-my"
            [ngClass]="{'dp-my-hover': year.enable, 'dp-my-off': !year.enable}">{{year.name}}</div></div>
    </div>
</div>